@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Taviraj';
    src: url('./fonts/Taviraj-Regular.ttf') format("truetype");
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:#333;
}

body{
    background-color:#f1f1f1;
}

.hero-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.conteneur-image{
    width: 60%;
    position: relative;
}

.simple-et-galerie{
    width: 40%;
    height: 40vw;
    padding:20px 10px 10px;
    background: linear-gradient(#005a00,#003b00);
}

.hero-container img{
    height: 40vw;
    width: 100%;
}

.texte-simple-et-galerie{
    height: 20%;
    padding: 10px 20px 10px 50px;
}

.texte-simple-et-galerie span, .trois-lignes h1 span{
    display: block;
    color:#fefefe;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    font-weight: bold;
    padding:5px 10px;
    margin-bottom: calc(5px + 0.5vw);
}

.texte-simple-et-galerie span{
    font-size:1.2vw;
}

.trois-lignes{
    position: absolute;
    bottom:calc(23% + 1vw) ;
    right:7%;
}

.trois-lignes h1 span{
    font-size: calc(1.1vw + 0.1rem);
}

.trois-lignes h1 span div, .texte-simple-et-galerie span div{
    content:'';
    position: absolute;
    width: 0%;
    height: 100%;
    top:0;
    left:0;
    background-color:#119211;
    z-index: -1;
}

/* ! GRID */

.grid-simple-et-galerie{
    height:80%;
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(16, 1fr);
    grid-gap: 1vw;
    padding:0 20px;
    margin-top: -25px;
}

.bloc-affiche{
    background-color: #fefefe;
    border:5px solid #000;
}

.bloc-affiche.b1{
    grid-row: 5 / 11;
    grid-column: 7 / 11;
}
.bloc-affiche.b2{
    grid-row: 5 / 11;
    grid-column: 3 / 7;
    opacity: 0;
    transform: translateX(-15%);
}
.bloc-affiche.b3{
    grid-row: 5 / 11;
    grid-column: 11 / 15;
    opacity: 0;
    transform: translateX(15%);
}
.bloc-affiche.b4{
    grid-row: 2 / 5;
    grid-column: 4 / 7;
    opacity: 0;
    transform: translateX(-15%);
}
.bloc-affiche.b5{
    grid-row: 11 / 15;
    grid-column: 7 / 13;
    opacity: 0;
    transform: rotate(90deg);
    transform-origin:bottom;
}
.bloc-affiche.b6{
    grid-row: 11 / 14;
    grid-column: 13 / 16;
    opacity: 0;
}

.btn-conteneur{
    position: absolute;
    bottom:4%;
    right:25px
}

.bouton{
    width:20px;
    height: 20px;
    border:1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
    margin-left: 10px;
    cursor: pointer;
}

.bouton:not(.active):hover{
    background-color: #fff !important;
}

.bouton:active{
    transform: scale(1.1);
}

.bouton.active{
    background-color: #119211;
    border-color: #119211;
}

.bloc-de-div{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 99.3%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.bloc-de-div div{
    width: 25%;
    height: 50%;
    background-color:#003b00;
}


@media screen and (max-width:1100px){
    .trois-lignes{
        bottom:calc(20% + 1vw) ;
    }

    .texte-simple-et-galerie span, .trois-lignes h1 span{
        padding:4px 10px;
        margin-bottom: calc(3px + 0.5vw);
    }

    .texte-simple-et-galerie{
        padding: 0.8vw 20px 10px 15px;
    }

    .grid-simple-et-galerie{
        margin-top: -10px;
    }

    .bloc-affiche{
        border:3px solid #000;
    }
}

@media screen and (max-width:750px) {
    .grid-simple-et-galerie{
        grid-template: repeat(17, 1fr) / repeat(17, 1fr);
        margin-top: 0px;
    }

    .hero-container{
        flex-direction: column;
    }

    .trois-lignes{
        bottom:calc(25% + 1vw);
        right:12%;
    }

    .bloc-affiche{
        border:3px solid #000;
    }

    .conteneur-image{
        width: 100%;
        position: relative;
    }
    
    .simple-et-galerie{
        width: 100%;
        margin:0 auto;
        height: 60vw;
        margin-top: -10px;
    }
    
    .hero-container img{
        height: 60vw;
    }

    .bloc-affiche.b1{
        grid-column: 8 / 11;
        grid-row: 5 / 12;
    }
    .bloc-affiche.b2{
        grid-column: 5 / 8;
        grid-row: 5 / 12;

    }
    .bloc-affiche.b3{
        grid-column: 11 / 14;
        grid-row: 5 / 12;
    }
    .bloc-affiche.b4{
        grid-column: 6 / 8;
        grid-row: 1 / 5;

    }
    .bloc-affiche.b5{
        grid-column: 8 / 12;
        grid-row: 12 / 17;
    }
    .bloc-affiche.b6{
        grid-column: 12 / 14;
        grid-row:12 / 16;
    }

    .trois-lignes h1 span{
        font-size: 1.6vw;
    }

    .texte-simple-et-galerie span{
        font-size:1.6vw;
        margin-left: 2vw;
        width: 55%;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-width:400px){
    .trois-lignes{
        bottom:calc(20% + 1vw);
        right:12%;
    }

    .texte-simple-et-galerie span, .trois-lignes h1 span{
        padding:4px 6px;
    }

    .grid-simple-et-galerie{
        grid-template: repeat(17, 1fr) / repeat(17, 1fr);
        margin-top: 10px;
    }

    .bloc-affiche{
        border:2px solid #000;
    }
}